<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <appSettings>
        <add key="ApiToken" value="" />
        <add key="TogglWorkspaceId" value="" />
        <add key="TogglProjectId" value="" />
        <add key="TogglTaskId" value="" />
        <add key="TogglBillable" value="false" />
    </appSettings>
</configuration>
